<h1>Editing question</h1>

<%= render "form", question: @question, url:[@question]%>

<br>

<div>
  <%= link_to "Back to questions", user_ballot_path(current_user.id, @question.ballot_id) %>
</div>
