<div id="<%= dom_id party %>">
  <p>
    <strong>Ballot:</strong>
    <%= party.ballot_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= party.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= party.description %>
  </p>

</div>
