<div id="<%= dom_id ballot_result %>">
  <p>
    <strong>Ballot:</strong>
    <%= ballot_result.ballot_id %>
  </p>

  <p>
    <strong>Question result:</strong>
    <%= ballot_result.question_result_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= ballot_result.content %>
  </p>

</div>
