<h1>Editing ballot result</h1>

<%= render "form", ballot_result: @ballot_result %>

<br>

<div>
  <%= link_to "Show this ballot result", @ballot_result %> |
  <%= link_to "Back to ballot results", ballot_results_path %>
</div>
