<h1>Editing guest voter</h1>

<%= render "form", guest_voter: @guest_voter %>

<br>

<div>
  <%= link_to "Show this guest voter", @guest_voter %> |
  <%= link_to "Back to guest voters", guest_voters_path %>
</div>
