<div class='nested-fields'>
  <div class="field">
    <div class="row">        
      <div class="col-md-10">
         <p><%= f.text_field :title, placeholder: "Enter Option here" %></p>
      </div>
      <br><br>
      <div class="col-md-2">
         <div  class="row" style="margin: auto">
            <div class="col-md-12" style="display: inline-block">
                <%= link_to_remove_association ('<i class="bi bi-trash"></i>').html_safe, f, class: "btn btn-danger delete-me", style: "display: inline-block"%>
            </div>
         </div>
      </div>
   </div>
</div>