<!-- Ballot Title -->
<br>
<div class="pagetitle" style="margin: auto;width: 60%;padding: 10px;">
   <div class="card-body" style="background-color: #21507a;text-align: center;padding: 0 0px 0px 0px;">
      <strong>
         <h1 class="card-title" style="color:#fff;">Ballots</h1>
      </strong>
   </div>
</div>
<!-- Ballot Title End -->

<div class="row" style="margin: auto;width: 60%;padding: 1px;">
   <div class="col-md-4">
   </div>
   <div class="col-md-4"></div>
   <div class="col-md-2" style="text-align:center"></div>
   <div class="col-md-2" style="text-align:right">
      <%= link_to new_user_ballot_path do %>
         <button type="button" class="btn btn-primary" style="color: #fff;background-color: #4CAF50;border-color: #4CAF50;">
               <i class="bi bi-plus"></i> Add
         </button>
      <% end %>
   </div>
</div>
<section class=" align-items-center" style="margin: auto;width: 60%;padding: 10px;">
   <div class="card" style="background-color:#3d5e7a">
      <div class="card-body">
         <br>
         <div class="card">
            <div class="card">
                     <table class="table table-striped">
                     <div class="card-body" style="background-color: white">
                        <thead>
                          <tr>
                            <th scope="col" style="width: 50%;">Title</th>
                            <th scope="col"  style="text-align: center;">Start Date</th>
                            <th scope="col"  style="text-align: center;">End Date</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                     </div>
                  </div>
                  <tbody>
                     <% @ballots.each do |ballot| %>
                        <%= render :partial=> 'ballot_index', :locals => { :ballot => ballot } %>
                     <% end %>
                  </tbody>
               </table>
         </div>
      </div>
   </div>
</section>