<h1>Editing stored voter</h1>

<%= render "form", stored_voter: @stored_voter %>

<br>

<div>
  <%= link_to "Show this stored voter", @stored_voter %> |
  <%= link_to "Back to stored voters", stored_voters_path %>
</div>
