<div id="<%= dom_id option %>">

  <% if option.party_id != nil %>
    <p>
      <strong>Party:</strong>
      <%= option.party_id %>
    </p>
  <% end %>

  <p>
    <strong>Title:</strong>
    <%= option.title %>
  </p>

  <!-- <p>
    <strong>Description:</strong>
    <%= option.description %>
  </p> -->

</div>
