<div id="<%= dom_id voter %>">
  <p>
    <strong>Username:</strong>
    <%= voter.username %>
  </p>


  <%= link_to "Edit", edit_voter_path(voter)%> |
  <%= button_to "Delete",  voter_path(voter), method: :delete %>
</div>
