<% if @ballot.show_voter_results %>
        <% @ballot.questions.each do |question| %>
        <% if @ballot.voting_type ==  "Modified Borda count" %>
        <%= render :partial => 'ballots/results/m_borda_count', :locals =>  { :question => question } %>
        <% elsif @ballot.voting_type ==  "D'Hondt" %>
        <%= render :partial => 'ballots/results/dhondt', :locals =>  { :question => question } %>
        <% else %>
        <%= render :partial => 'ballots/results/normal', :locals =>  { :question => question }  %>
        <% end  %>
<% end %>
<% else %>
    <meta HTTP-EQUIV="REFRESH" content="60; url=<%=it_path%>">
    
    <div class="row" style="text-align: center;">
        <div class="card" style="background-color:#21507a">
            <div class="card-body">
            <br>
            <div class="col-md-12" style="text-align: center;color: white;">
                <h1 style="text-align: center;"> Ballot Expired </h1>
                <b><% if @ballot.show_voter_results %>
                Results Available after Ballot has concluded
                <% else %>
                Results are Hidden by the Host
                <% end %></b>
            </div>
            </div>
        </div>
        </div>
<%end%>