<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }

    body {
    background-color: #000125;
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="fw-bold mb-5" style="text-align: center;color:white;">Welcome to ESA</h1>
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">      
            <%= form_tag("/it", method: "get") do %>
              <%= text_field_tag :access_token, "", class:'form-control', :placeholder => "Ballot Pin", maxlength: 6 %>
              <br>
              <p><%= submit_tag "Enter", class: 'btn btn-primary btn-block mb-4'%></p>
               <% end %>
          </div>
        </div>
      </div>
        
      <div class="col-lg-6 mb-5 mb-lg-0" style="margin:0; padding:5%">
        <img src="https://images.unsplash.com/photo-1599015298371-9c20a5d9cce8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->