<h1>Editing question result</h1>

<%= render "form", question_result: @question_result %>

<br>

<div>
  <%= link_to "Show this question result", @question_result %> |
  <%= link_to "Back to question results", question_results_path %>
</div>
