<p style="color: green"><%= notice %></p>

<h1>Question results</h1>

<div id="question_results">
  <% @question_results.each do |question_result| %>
    <%= render question_result %>
    <p>
      <%= link_to "Show this question result", question_result %>
    </p>
  <% end %>
</div>

<%= link_to "New question result", new_question_result_path %>
