<footer id="footer" class="footer", style="margin: 5%; margin-right: 10%">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              Application developed by <br> <strong><a href="https://www.klyde-moradeyo.com/">Klyde Moradeyo</a></strong>
            </div>
        </div>
        <div class="col-md-4">
          <div class="credits">
            <% if session[:voter] %>
              Are you a Voter? 
              <% ballot = Ballot.find_by(id: session[:voter]["ballot_id"])%>
              <strong><%= link_to "Sign Out", user_ballot_voter_sign_out_path(ballot.user_id, ballot.id) %></strong> 
            <% elsif !current_user %>    
                Are you a host? 
                <strong><%= link_to "Sign In", user_session_path %></strong> 
            <% else %>
              Are you a host? 
              <strong><%= link_to "Sign Out", destroy_user_session_path %></strong> 
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            User Inteface Template by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            <br>
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserveds
          </div>
        </div>
      </div> 
    </div>
  </footer>
 